<!-- FOOTER -->
<footer class="d-flex mt-auto mt-5">
    <div class="col py-3 mt-4 px-5 border-top text-center">
        <p id="trademark" class="mb-0"><small>Proyecto web - &copy;&nbsp;Candy World</small></p>
    </div>
</footer>