<div class="container">
  {{#each messages.danger}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{this}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/each}}
  {{#each messages.success}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{this}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/each}}
</div>